:root {
    --color-primary: #15616D;
    --color-secondary: #001524;
    --color-accent: #FFF4E5;
    --color-white: white;
    --color-black: black;
    --color-hover-links: #c1c1c1;
    --color-border: #ccc;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    color: var(--color-black);
    margin-bottom: 1rem;
    font-weight: bold;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
}


h1 {
    font-weight: 900;
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    margin-top: 0;
    font-size: 1.5rem;
}

label {
    display: block;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 1rem;
    font-style: italic;
}

textarea {
    display: block;
    margin: 0;
    resize: none;
    outline: 0;
}

/* Links */

.link {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    transition: color 0.3s;
}

.link--btn {
    color: var(--color-black);
}

.link--btn:hover {
    color:var(--color-secondary);
}

.link:hover {
    color: var(--color-hover-links)
}

/* List */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-black);
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 2.5rem;
}

.list--tick {
    list-style-image: url(../images/Icons/check.svg);
    padding-left: 3rem;
}

/* Icons */

.icon {
    width: 99px;
    height: 99px;
}

.icon-small {
    width: 45px;
    height: 45px;
    fill: var(--color-white);
}

/* Buttons */
.btn {
    border-radius: 30px;
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    white-space: nowrap;
    margin: 1rem 0;
    font-size: 1.8rem;
}

.btn--inline {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    font-style: italic;
}

.btn--inline.btn-search {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-style: italic;
}

.btn--inline:hover {
    background-color: rgb(223, 223, 223);
}

.btn--block {
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
}

.btn--block:hover {
    background-color: #12535e;
}

/* Inputs */

.input {
    padding: 1rem 1rem;
    outline: 0;
}

.input--search {
    border: 1px solid var(--color-border);
    border-radius: 30px;
    padding-left: 2rem;
}

.input--search::placeholder {
    font-size: 2rem;
    color: gray;
    font-style: italic;
}

.input--form {
    border: 0;
    background-color: var(--color-primary);
    color: white;
    font-weight: normal;
    border-bottom: 1px solid var(--color-white);
    display: block;
}

::placeholder {
    font-size: 1.5rem;
    color: var(--color-white);
    font-style: italic;
}

.input--group {
    border: 1px solid var(--color-border);
    border-radius: 30px;
    display: flex;
    margin: 8rem auto 3rem;
    justify-content: center;
    width: 60%;
}

.input--group .input {
    border: 0;
    flex-grow: 1;
}

/* Cards */
.card--prices {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card--prices__header, .card--prices__body {
    padding: 2rem 3rem;
    border-radius: 10px 10px 0 0;
}

.card--prices__body {
    background-color: var(--color-white);
}

.card--prices .card--prices__header {
    background: var(--color-primary);
    color: var(--color-white);
}

.card--beneficts {
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--color-white);
}

.card--beneficts__header, .card--beneficts__body {
    text-align: center;
    padding: 2rem 3rem;
}

/* Plans */

.plan__name {
    color: var(--color-white);
    margin: 0;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 4rem;
    font-weight: 600;

}

.plan__billing-cycle {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.plan .list__item {
    margin: 1.5rem 0;
}

/* Grids */

.grid {
    display: grid;
}

.grid--cols-plans, .grid--cols-beneficts {
    margin-top: 3rem;
}

.grid--cols-2-sm {
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
    .grid--cols-2, .grid--cols-beneficts {
        grid-template-columns: 1fr 1fr;

    }

    .grid--cols-plans {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid--cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .grid--cols-beneficts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Blocks*/

.block {
    padding: 6rem 2rem;
}

.block__heading {
    margin-top: 0;
}

.block--main--color {
    background: var(--color-primary);
    color: var(--color-white);
}

.block__heading--banner {
    color: var(--color-white);
}

.block--dark {
    background: var(--color-secondary);
    color: var(--color-white);
}

.block--dark--gradient {
    background-image: linear-gradient(var(--color-secondary), rgba(0, 0, 0, 0.5)), url(../images/Head/mountain-984083_640.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
}

.block--dark .block__heading {
    color: var(--color-white);
}

.block__header {
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/* Navigation Bar */
.nav {
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    align-items: center;
}

.nav .img-logo {
    width: 60px;
    height: 60px;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    display: block;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-white);
}

.nav__toggler {
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler{
    opacity: 0.5;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item {
        border: 0
    }
}

/* Hero */


.hero__tagline {
    font-style: italic;
    margin: 2rem 0 5rem;
}

@media screen and (min-width: 768px) {
    .hero__content {
        text-align: left;
    }
    .block--dark--gradient {
        background-image: linear-gradient(var(--color-secondary), rgba(0, 0, 0, 0.5)), url(../images/Head/mountain-984083_1280.webp);
        height: 66.6vw;
    }
}

@media screen and (min-width: 1366px) {
    .block--dark--gradient {
        background-image: linear-gradient(var(--color-secondary), rgba(0, 0, 0, 0.5)), url(../images/Head/mountain-984083_1920.webp);
    }
}

/* Form */

.form__tagline {
    font-style: italic;
    margin: 3rem 0 2rem;
}

.block__heading--form {
    color: var(--color-white);
    margin-top: 0;
}

.icon-form {
    width: 12rem;
    height: 12rem;
    display: inline-flex;
    position: absolute;
    left: 65vw;
    top: auto;
}

.btn.btn--form {
    font-size: 1.7rem;
    font-weight: 500;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 5rem;
}


@media screen and (min-width: 768px) {
    .form__content p {
        text-align: left;
    }

    .icon-form {
        width: 20rem;
        height: 20rem;
        left: 55vw;
    }
}

/* Plans & cards block */
.plan {
    transition: transform 0.2s ease-out;
}

.plans__header {
    text-align: center;
}

.plans__subtitles {
    margin: 6rem auto 1rem;
}

.plans__description {
    margin: 2rem auto 4rem;
}

.block-cards-div, .block-plans-div {
    background-color: var(--color-accent);
}

.block-plans .grid {
    gap: 4rem;
}

.block-plans .card--prices {
    max-width: 500px;
    margin: 0 auto;
}

.plan:hover {
    transform: scale(1.05);
}

.plan__center {
    bottom: 10px;
}

.other-plans__text, .other-plans__header {
    text-align: center;
}

.other-plans__header {
    margin-top: 8rem;
}

.input--group.show-element-md-search {
    margin-top: 5rem;
}

.show-element-md, .show-element-md-search {
    display: none;
}

@media screen and (min-width: 768px) {
    .show-element-md {
        display: block;
    }

    .show-element-md-search {
        display: flex;
    }

    .card--middle {
        padding-bottom: 10px;
    }

    .card--corner {
        padding-top: 10px;
    }
}

/* Beneficts*/


.block-beneficts .card--beneficts {
    max-width: 400px;
    margin: 0 auto;
}

.block-beneficts .grid {
    gap: 4rem;
}

.beneficts__header {
    text-align: center;
    margin: 0 auto 8rem;
}

.show-last-benefict {
    display: none;
}

.card--beneficts:hover .benefict-1 {
    transform: rotate(10deg);
    transition: transform 0.3s ease-in-out;
}

.card--beneficts:hover .benefict-2 {
    transform: scale(0.95);
    transition: transform 0.3s ease-in;
}

.card--beneficts:hover .benefict-3 {
    transform: rotate(-10deg);
    transition: transform 0.3s ease-in-out;
    
}

.card--beneficts:hover .benefict-4 {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
    .show-last-benefict {
        display: flex;
    }
}

/* Sites */

.sites-heading {
    margin: 0 auto 5rem;
    padding-top: 2rem;
    text-align: center;
    color: var(--color-white);
}

.article {
    margin: 5rem auto;
}

.media__image {
    border-radius: 10px;
    box-shadow: 0 0 20px 5px var(--color-white);
    width: 100%;
}

.media__header {
    margin:0;
    width: 80%;
    color: white;
    font-weight: 400;
    align-self: center;
}

.media__header:nth-child(2) {
    justify-self: end;
    text-align: right;
}

@media screen and (min-width: 768px) {
    .show-sm-media {
        display: none;
    }
}

/* Footer */

.collapsible__heading.collapsible__heading--footer {
    color: var(--color-white);
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid var(--color-white);
}

.footer__header {
    color: var(--color-white);
    margin: 0;
    text-align: center;
    align-self: center;
    font-size: 4rem;
}

.icon__footer {
    align-self: center;
    margin: 0 auto;
}

.grid__footer:hover .icon__footer {
    transform: rotate(-15deg);
    transition: transform 0.4s;
}

.footer__brand {
    margin-top: 4rem;
    text-align: center;
}

.list__footer {
    margin-top: 2rem;
}


@media screen and (min-width: 768px) {
    .footer__sections {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__section {
        border: 0;
    }
}

/* Swipper*/
.swiper-container {
    display: none;
}

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    background-size: cover;
}

  .swiper-slide-1-bg {
    background-image: url(/images/Beach/beach-1751455_1920.webp);
}

  .swiper-slide-2-bg {
    background-image: url(/images/Forest/mountains-1587287_1920.webp);
}

  .swiper-slide-3-bg {
    background-image: url(/images/Desert/stone-arch-828730_1920.webp);
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.title {
      margin-top: 4rem;
}

.subtitle {
      margin-top: 30vw;
}

@media screen and (min-width: 768px) {
    .swiper-container {
        display: block;
        width: 90%;
        height: 66.6vw;
        background: #000;
        border-radius: 10px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 8rem;
    }
    
    h2 {
        font-size: 5rem;
        line-height: 5.5rem;
    }
    
    h3 {
        font-size: 4.5rem;
    }
    
    h4 {
        font-size: 3rem;
    }
    
    h5 {
        font-size: 2.8rem;
    }
    
    h6 {
        font-size: 2.6rem;
    }
    
    p {
        font-size: 2rem;
    }

    .link {
        font-size: 2.2rem;
    }

    .list {
        font-size: 1.8rem;
    }

    .icon {
        width: 130px;
        height: 130px;
    }

    .icon-form {
        width: 25rem;
        height: 25rem;
    }

    .icon-small {
        width: 43px;
        height: 43px;
    }

    .btn {
        font-size: 2.4rem;
    }

    .plan__name {
        font-size: 3rem;
    }
    
    .plan__price {
        font-size: 3.5rem; 
    }
    
    .plan__billing-cycle {
        font-size: 2.8rem;
    }
    
}